:root {

  --primary-color: #ff4c60;
  --secondary-color: #ffd93d;
  --bg-body-color: #1d1d3a;

  --navbar-bg-color: #0a0a1b;
  --navbar-text-color: #fff;
  --navbar-text-hover-color: #f56e15;
  --navbar-border-color: #fff;

  --button-bg-color: #ff4c60;
  --button-text-color: #fff;
  --button-border-color: #fff;
  --button-bg-hover-color: #fa9231;
  --button-text-hover-color: #fff;
  --button-border-hover-color: #fff;

  --card-bg-color: #0a0a1b;
  --card-bg-color-2: #1a1a2e;
  --card-sub-bg-color: #1a1a2e;
  --card-text-color: #fff;
  --card-border-color: #0a0a1b;
  --card-border-hover-color: #ffffff;
  --card-overlay-bg-color: #00000094;

  --social-bg-color: #0a0a1b;
  --social-icon-color: #fff;
  --social-icon-color-2: #ff4c60;

  --horizontal-line-color: #fff;

  --text-color: #fff;
  --text-color-2: #b9b9b9;
  --white-color: #fff;
  --black-color: #000;
  --green-color: #4caf50;
  --gray-color: #6c6c6c;
  --blue-color: #0077b5;
}

.light-theme {
  --primary-color: #ff4c60;
  --secondary-color: #ffd93d;
  --bg-body-color: #f5f5f5;

  --navbar-bg-color: #ffffff;
  --navbar-text-color: #1d1d1d;
  --navbar-text-hover-color: #ff4c60;
  --navbar-border-color: #ddd;

  --button-bg-color: #ff4c60;
  --button-text-color: #fff;
  --button-border-color: transparent;
  --button-bg-hover-color: #fa3f55;
  --button-text-hover-color: #fff;
  --button-border-hover-color: transparent;

  --card-bg-color: #ffffff;
  --card-bg-color-2: #f0f0f0;
  --card-sub-bg-color: #eaeaea;
  --card-text-color: #1d1d1d;
  --card-border-color: #ddd;
  --card-border-hover-color: #ff4c60;
  --card-overlay-bg-color: #00000060;

  --social-bg-color: #1d1d1d;
  --social-icon-color: #fff;
  --social-icon-color-2: #ff4c60;

  --horizontal-line-color: #000;

  --text-color: #1d1d1d;
  --text-color-2: #555555;
  --white-color: #fff;
  --black-color: #000;
  --green-color: #4caf50;
  --gray-color: #6c6c6c;
  --blue-color: #0077b5;
}

/* Apply the colors globally */
body {
  background-color: var(--bg-body-color) !important;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.port-btns {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}
.port-btns:hover {
  background-color: var(--button-bg-hover-color);
  color: var(--button-text-hover-color);
  border: 1px solid var(--button-border-hover-color);
}

.blue-color {
  color: var(--blue-color);
}

.primary-color {
  color: var(--primary-color);
}
.text-color-2 {
  color: var(--text-color-2);
}
.blue-color {
  color: var(--blue-color);
}

.accent-text-1 {
  color: var(--primary-color);
}
.accent-text-2 {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accent-text-3 {
  color: var(--secondary-color);
}
.accent-text-4 {
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: var(--text-color) !important;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color) !important;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color) !important;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-color) !important;
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-color) !important;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-color);
}

@media screen and (max-width: 1165px) {
  h1 {
    font-size: 3rem;
  }
}
