/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {

  --primary-color: #5d3af3;
  --secondary-color: #7860df;
  --bg-body-color: #1d1d3a;
  --primary-rgb: 93, 58, 243;

  --navbar-bg-color: #0a0a1b;
  --navbar-text-color: #fff;
  --navbar-text-hover-color: #5d3af3;
  --navbar-border-color: #fff;

  --button-bg-color: #5d3af3;
  --button-text-color: #fff;
  --button-border-color: #5d3af3;
  --button-bg-hover-color: #7860df;
  --button-text-hover-color: #fff;
  --button-border-hover-color: #7860df;

  --card-bg-color: #0a0a1b;
  --card-bg-color-2: #1a1a2e;
  --card-sub-bg-color: #1a1a2e;
  --card-text-color: #fff;
  --card-border-color: #0a0a1b;
  --card-border-hover-color: #5d3af3;
  --card-overlay-bg-color: #000000a2;
  --card-shadow:
    0 10px 25px rgba(0, 0, 0, 0.6),
    0 5px 15px rgba(93, 58, 243, 0.15);


  --social-bg-color: #0a0a1b;
  --social-icon-color: #fff;
  --social-icon-color-2: #00bfa6;
 
  --github-color: #fff;
  --github-hover-color: #b9b9b9;
  --linkedin-color: #fff;
  --linkedin-hover-color: #0077b5;
  --phone-color: #fff;
  --phone-hover-color: #4caf50;
   --envelope-color: #fff;
  --envelope-hover-color: #0077b5;
  --whatsapp-color: #fff;
  --whatsapp-hover-color: #4caf50;

  --horizontal-line-color: #fff;

  --text-color: #fff;
  --text-color-2: #b9b9b9;
  --white-color: #fff;
  --black-color: #000;
  --green-color: #4caf50;
  --gray-color: #6c6c6c;
  --blue-color: #0077b5;

    --circle-bg: linear-gradient(
    145deg,
    #ffffff 10%,
    #f4f4f4 40%,
    rgba(173, 158, 250, 0.5) 100%
  );
  --circle-shadow: inset -20px -20px 50px rgba(0, 0, 0, 0.15),
    0 0 25px rgba(255, 255, 255, 0.3);
  --circle-filter: contrast(95%) brightness(95%);


  --square-bg: rgba(187, 173, 255, 0.3);
  --square-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(255, 255, 255, 0.2);
  --square-border: 1px solid rgba(255, 255, 255, 0.2);

  --primary-font:"Orbitron", sans-serif;
  --secondary-font:"Inter", sans-serif;
  

}

.light-theme {
  --primary-color: #5d3af3;
  --secondary-color: #3ac1f3;
  --bg-body-color: #f9f9fb;
  --primary-rgb: 93, 58, 243;

  --navbar-bg-color: #ffffff;
  --navbar-text-color: #1d1d1d;
  --navbar-text-hover-color: #5d3af3;
  --navbar-border-color: #5d3af3;

  --button-bg-color: #7860df;
  --button-text-color: #fff;
  --button-border-color: #5d3af3;
  --button-bg-hover-color: #5d3af3;
  --button-text-hover-color: #fff;
  --button-border-hover-color: #5d3af3;

  --card-bg-color: #ffffff;
  --card-bg-color-2: #f0f0f0;
  --card-sub-bg-color: #eaeaea;
  --card-text-color: #1d1d1d;
  --card-border-color: #ddd;
  --card-border-hover-color: #5d3af3;
  --card-overlay-bg-color: #000000ad;

  --social-bg-color: #7860df;
  --social-icon-color: #fff;
  --social-icon-color-2: #ff4c60;

  --github-color: #fff;
  --github-hover-color: #d6d6d6;
  --linkedin-color: #fff;
  --linkedin-hover-color: #000;
  --phone-color: #fff;
  --phone-hover-color: #4caf50;
   --envelope-color: #fff;
  --envelope-hover-color: #000;
  --whatsapp-color: #fff;
  --whatsapp-hover-color: #4caf50;

  --horizontal-line-color: #000;

  --text-color: #13101f;
  --text-color-2: #2d2c31;
  --white-color: #fff;
  --black-color: #000;
  --green-color: #4caf50;
  --gray-color: #6c6c6c;
  --blue-color: #0077b5;

  /* --primary-font:"Montserrat", sans-serif;
  --secondary-font:"Inter", sans-serif; */

  --card-shadow:0 19px 38px rgba(193 202 212), 0 15px 12px rgba(10,10,10,10.22);

   --circle-bg: linear-gradient(
    145deg,
    #ebebeb 10%,
    #f4f4f4 40%,
    rgba(173, 158, 250, 0.9) 100%
  );
  --circle-shadow: inset -15px -15px 40px rgba(0, 0, 0, 0.25), 0 0 20px rgba(255, 255, 255, 0.2);
  --circle-filter: contrast(100%) brightness(100%);

  --square-bg: rgba(147, 126, 250, 0.6);
  --square-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(255, 255, 255, 0.2);
  --square-border: 1px solid rgba(255, 255, 255, 0.4);


}




/* Apply the colors globally */
body {
  background-color: var(--bg-body-color) !important;
  color: var(--text-color);
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
}

.port-btns {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}
.port-btns:hover {
  background-color: var(--button-bg-hover-color);
  color: var(--button-text-hover-color);
  border: 1px solid var(--button-border-hover-color);
}

.blue-color {
  color: var(--blue-color);
}

.primary-color {
  color: var(--primary-color);
}
.text-color-2 {
  color: var(--text-color-2);
}
.blue-color {
  color: var(--blue-color);
}

.accent-text-1 {
  color: var(--primary-color);
}
.accent-text-2 {
  color: var(--primary-color);
}

.accent-text-3 {
  color: var(--primary-color);
}
.accent-text-4 {
  color: var(--primary-color);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color) !important;
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 700;

}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color-2);
  font-family: var(--secondary-font);
}

@media screen and (max-width: 1165px) {
  h1 {
    font-size: 3rem;
  }
}
